{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">Error al autenticarse! ):</div>
    {% endif %}

    {% if app.user %}
        <div class="alert alert-success">
            Te has logeado como {{ app.user.username }}, <a href="{{ path('app_logout') }}">Cerrar sesión</a>
        </div>
    {% endif %}
    <div class="contenedor">
        <div class="login">
                <div class="panel-login">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            <img src="/login_creativa/public/assets/img/Logo_AgenciaCreativa.png" alt="Logo agencia creativa">
                        </div>

                        <div class="col-12">
                            <form method="post">
                                <input type="email" name="email" id="email" placeholder="Email">
                                <input type="password" name="password" id="password" placeholder="Contraseña">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <button type="submit">Entrar</button>
                                <a class="registro" href="/login_creativa/public/index.php/register"> Registrarse</a>
                            </form>
                        </div>

                        <div class="col-12 d-flex flex-column justify-content-center align-items-center mt-4">
                            <div class="redes-sociales">
                                <a target=" _blank" href="https://twitter.com/creativa" class="fab fa-twitter" href=""></a>
                                <a target="_blank" href="https://www.facebook.com/agenciacreativa/" class="fab fa-facebook"></a>
                                
                            </div>
                            <a target=" _blank" href="https://agenciacreativa.es/">Powered by: Agencia creativa</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}