{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="contenedor">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Te has logeado existosamente como {{ app.user.username }}, <a href="{{ path('app_logout') }}">Salir</a>
        </div>
    {% endif %}

    <div class="login">
            <div class="panel-login">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <img src="assets/img/Logo_AgenciaCreativa.png" alt="Logo agencia creativa">
                    </div>

                    <div class="col-12">
                        <form action="bienvenido.html">
                            <input type="email" name="email" id="email" placeholder="Email">
                            <input type="password" name="password" id="password" placeholder="Contraseña">
                            <button type="submit">Entrar</button>
                            <a href="registro.html"> Registrarse</a>
                        </form>
                    </div>

                    <div class="col-12 d-flex flex-column justify-content-center align-items-center mt-4">
                        <div class="redes-sociales">
                            <a target=" _blank" href="https://twitter.com/creativa" class="fab fa-twitter" href=""></a>
                            <a target="_blank" href="https://www.facebook.com/agenciacreativa/" class="fab fa-facebook"></a>
                             
                        </div>
                        <a target=" _blank" href="https://agenciacreativa.es/">Powered by: Agencia creativa</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
