.contenedor {
  width: 100%;
  padding: 0 5%;
}

.login {
  width: 100%;
  display: flex;
  justify-content: center;
}
.login .panel-login {
  background: #f1f1f1;
  width: 500px;
  height: auto;
  padding: 50px;
  box-shadow: 0 1px 2px #c9c9c9;
  -moz-box-shadow: 0 1px 2px #c9c9c9;
  -webkit-box-shadow: 0 1px 2px #c9c9c9;
  border-radius: 5px;
  margin: 25px 0;
}
.login .panel-login img {
  width: 300px;
  margin-bottom: 25px;
}
.login .panel-login input {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  margin: 15px 0;
  padding: 15px;
  box-shadow: 0 1px 2px #c9c9c9;
  -moz-box-shadow: 0 1px 2px #c9c9c9;
  -webkit-box-shadow: 0 1px 2px #c9c9c9;
}
.login .panel-login input:focus {
  outline: none;
}
.login .panel-login button {
  width: 100%;
  height: 40px;
  margin: 15px 0;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #d01225, #eb7f0c);
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
}
.login .panel-login button:focus {
  outline: none;
}
.login .panel-login .redes-sociales {
  margin: 25px 0;
}
.login .panel-login .redes-sociales a {
  margin: 0 15px;
  font-size: 25px;
  color: #eb7f0c;
}
.login .panel-login .redes-sociales a:hover {
  text-decoration: none;
}

.login .panel-login a.registro {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin: 15px 0;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #d01225, #eb7f0c);
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
}

.login .panel-login a {
  font-size: 14px;
  color: #808080;
}
.login .panel-login a:hover {
  text-decoration: none;
}

.login .panel-login p.titulo-registro {
  font-size: 25px;
}

@media (max-width: 570px) {
  .login .panel-login {
    width: 100%;
    padding: 25px;
  }
  .login .panel-login img {
    width: 250px;
  }
}
@media (max-width: 400px) {
  .login .panel-login {
    padding: 25px 15px;
  }
  .login .panel-login img {
    width: 200px;
  }
}
.modal .modal-content {
  background: #f1f1f1;
}
.modal .modal-content .modal-header {
  display: flex;
  align-items: center;
}
.modal .modal-content .modal-header h5 {
  color: #383838;
}
.modal .modal-content .modal-header button.close {
  width: 20px;
  height: 20px;
  padding: 0;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #383838;
}

.bienvenida {
  margin: 50px 15px;
}

/*# sourceMappingURL=estilos.css.map */
