{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}
<div class="contenedor">
        <div class="login">
                <div class="panel-login">
                    <div class="row">
                        <div class="col-12 d-flex flex-column align-items-center">
                            <img src="/login_creativa/public/assets/img/Logo_AgenciaCreativa.png" alt="Logo agencia creativa">
                            <p class="titulo-registro">Formulario de registro</p>
                        </div>

                        <div class="col-12">
                            {{ form_start(form) }}
                                {{ form_row(form.email) }}
                                {{ form_row(form.password) }}
                                <button type="submit">Registrase</button>
                                
                            {{ form_end(form) }}
                        </div>

                        <div class="col-12 d-flex flex-column justify-content-center align-items-center mt-4">
                            <div class="redes-sociales">
                                <a target=" _blank" href="https://twitter.com/creativa" class="fab fa-twitter" href=""></a>
                                <a target="_blank" href="https://www.facebook.com/agenciacreativa/" class="fab fa-facebook"></a>
                                
                            </div>
                            <a target=" _blank" href="https://agenciacreativa.es/">Powered by: Agencia creativa</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
