<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <!-- Boostrap -->
        <link rel="stylesheet" href="/login_creativa/public/assets/css/bootstrap.min.css">
        <!-- Estilos CSS -->
        <link rel="stylesheet" href="/login_creativa/public/assets/css/estilos.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body>
        {% block body %}
            
        {% endblock %}
        {% block javascripts %}<!-- Scripts JS -->
            <script src="/login_creativa/public/assets/js/jquery-3.4.1.min.js"></script>
            <script src="/login_creativa/public/assets/js/popper.min.js"></script>
            <script src="/login_creativa/public/assets/js/bootstrap.min.js"></script>
            <!-- /Scripts JS -->{% endblock %}
    </body>
</html>
